<section
  class="relative w-full h-screen flex items-center justify-center overflow-hidden"
>
  <div
    class="absolute inset-0 bg-cover bg-center"
    style="
      background-image: url('https://www.mtgpics.com/pics/art/tbw/097.jpg');
      background-position: center 30%;
    "
  ></div>
  <div class="absolute inset-0 bg-background opacity-90"></div>

  <div class="relative z-10 text-center text-white">
    <h1 class="text-5xl mb-4 font-black">Artabrian Weekend 2025</h1>
    <p class="text-2xl mb-8 font-bold ">21 - 22 - 23 de noviembre</p>
    <a
      href="#"
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300"
    >
      Inscríbete
    </a>
  </div>
</section>
